.Xauthority
.cache/
.cargo/
.electron-gyp/
.lesshst
.local/
.mozilla/
.npm/
.oh-my-zsh/
.pki/
.polybar/
.profile
.rustup/
.ssh/
.v8flags.7.8.279.23-node.45.9ad0eb850b691de5de422cf5da20fea8.json
.wallpapers/
.xinitrc
.zcompdump-pxarch-5.8
.zsh_history
.zshrc.pre-oh-my-zsh
dotfiles/
certs/
**/nvim/autoload
.config/coc
.config/Franz
.config/Microsoft
